/*-----------------------------------------------------
Header Navigation Styles
--------------------------------------------------*/
.header.exchange-logo .sticky-logo {
    display: none;
}
.fixed-header .header.exchange-logo .default-logo {
    display:none;
}
.fixed-header .header.exchange-logo .sticky-logo {
    display:block;
	display: inline-block;
}
.navbar-nav .dropdown-toggle::after {
  display: none;
}
.navbar-nav .dropdown-menu.b-none {
  border: 0px;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.navbar-nav {
  font-weight: 400;
}

.navbar-nav .dropdown-menu.b-none {
  border: 0px;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1); }

.pre-scroll {
  position: relative; }

.nav-dropdown {
  position: static;
}
  
.nav-dropdown .dropdown-menu {
    width: 100%;
    padding: 30px;
    margin-top: 0px;
    overflow: hidden;
}
	
.nav-dropdown .list-style-none {
    font-size: 14px;
}
	
.nav-dropdown .inside-bg {
    margin: -30px 0 -30px -30px;
}
	
.nav-dropdown .inside-bg-right {
    margin: -30px -30px -30px 0;
}
.nav-dropdown .bg-img {
    background-size: cover;
    height: 100%;
    padding: 30px;
}
	
.nav-dropdown h6 {
    margin: 15px 0;
    font-size: 15px;
}
	
.header.shadow {
    box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);
    -webkit-box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);
}
.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.topbar {
    padding: 0px;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    width: 100%;
    position:absolute;
    z-index:999;
	top: 0;
}
.topbar.tp-rlt {
    position:relative;
}
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.topbar.fixed-header {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
	position: fixed;
    background: #ffffff;
}

.header.light{
	background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);
	-webkit-box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);
}
.no-shadow .header.light{
	background-color: #fff;
    box-shadow:none;
	-webkit-box-shadow:none;
}

.header .navbar-toggler {
  color:#626a70;
}
.fixed-header .header .navbar-toggler {
    color:#626a70;
}
.header.light .navbar-toggler {
  color:#626a70;
}
.header .navbar-brand {
  line-height: 80px;
}
.header .navbar-brand img {
    max-width: 200px;
}
.header-nav-bar {
  padding: 0px;
}
.header-nav-bar .navbar-nav .nav-link {
	padding: 35px 12px;
	font-size: 13px;
	font-weight:500;
    font-family: 'Montserrat', sans-serif;
	color: rgba(255, 255, 255, 0.7);
	text-transform:uppercase;
	
}
.topbar .act-buttons .btn{
	font-size: 13.5px;
}
.header.dark-text .header-nav-bar .navbar-nav .nav-link {
	color:#546e7a !important;
}
.header.dark-text .header-nav-bar .navbar-nav .nav-link:hover, .header.dark-text .header-nav-bar .navbar-nav .nav-link:focus{
	color:#546e7a;
}
.topbar.fixed-header .header-nav-bar .navbar-nav .nav-link {
	color:#546e7a;
}
.topbar.dark-header.fixed-header .header-nav-bar .navbar-nav .nav-link {
	color:#ffffff;
}
.header.light .header-nav-bar .navbar-nav .nav-link {
    color:#607394;
}
.header-nav-bar .navbar-nav .nav-item:hover .nav-link,
 .header-nav-bar .navbar-nav .nav-item:focus .nav-link,
 .header-nav-bar .navbar-nav .nav-item.active .nav-link {
    color:#ffffff;
}
.fixed-header .header-nav-bar .navbar-nav .nav-item:hover .nav-link,
.fixed-header .header-nav-bar .navbar-nav .nav-item:focus .nav-link,
.fixed-header .header-nav-bar .navbar-nav .nav-item.active .nav-link {
    color:#607394;
}
.dark-header.fixed-header .header-nav-bar .navbar-nav .nav-item:hover .nav-link,
.dark-header.fixed-header .header-nav-bar .navbar-nav .nav-item:focus .nav-link,
.dark-header.fixed-header .header-nav-bar .navbar-nav .nav-item.active .nav-link {
    color:#ffffff;
}
.header.light .header-nav-bar .navbar-nav .nav-item:hover .nav-link,  .header.light .header-nav-bar .navbar-nav .nav-item.active .nav-link {
    color:#607394;
}
.header-nav-bar .act-buttons .btn {
    margin: 10px 0 10px 10px;
}
.topbar.fixed-header .header-nav-bar .act-buttons .btn-light {
    background:#3389ff;
	border-color:#3389ff;
	color:#ffffff;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0;
    border-radius: 0.25rem;
    display: none;
}
.dropdown-submenu > .dropdown-menu.menu-right {
    left: auto;
    right: 100%;
}
.dropdown-submenu .dropdown-item > .ml-auto {
    position: absolute;
    right: 15px;
    top: 10px;
}
.dropdown-submenu {
    position: relative;
}

/*---------- Top Bar -------------*/
.header-topbar{
    padding: 12px;
    background:#086cf5;
	font-size: 14px;
    box-shadow: none;
    color: #ffffff;
}
.header-topbar.bl-dark{
	background:#212f42;
}
.header-topbar span{
	margin-right:20px;
}
.header-topbar span>i{
	margin-right:7px;
}
.top-social-ac ul{
	margin:0;
	padding:0;
}
.top-social-ac ul li{
	display:inline-block;
	margin-right:12px;
	list-style:none;
}
.top-social-ac ul li:last-child{
	margin-right:0;
}
.top-social-ac ul li a{
	color:#ffffff;
	opacity:0.9;
	transition:all 0.4s;
}
.top-social-ac ul li a:hover, .top-social-ac ul li a:focus{
	color:#ffffff;
	opacity:1;
}
/*------------ Header Navigation Styles: Header Search Box--------------*/
.search-box {
    padding: 0 15px;
}
.search-box .app-search input {
    width: 100%;
    padding: 25px 40px 25px 20px;
    border-radius: 0px;
    font-size: 17px;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    border: none;
    height:92px;
    color:#4d5968;
}
.search-box .app-search .srh-btn {
    position:absolute;
    top:40px;
    cursor: pointer;
    background: #ffffff;
    width: 15px;
    height: 15px;
    right: 20px;
    font-size: 14px;
}
.search-box a{
color: #546e7a;
}
.search-box .form-control::-moz-placeholder{color:#4d5968;}
.search-box .form-control:-ms-input-placeholder{color:#4d5968}
.search-box .form-control::-webkit-input-placeholder{color:#4d5968}
.search-box .app-search {
    position:fixed;
    margin: 0px;
    display: block;
    z-index: 110;
    width: 100%;
    top: -1px;
    -webkit-box-shadow:0 0 20px 0 rgba(62,28,131,0.1);
    box-shadow:0 0 20px 0 rgba(62,28,131,0.1);
    display: none;
    left: 0px;
}
/*----------------------------------------------------
 Homes Banner
-----------------------------------------------------*/
.hero-header.jumbo-banner {
    background-size: cover !important;
    background-position: center !important;
}
.hero-content h1, .content h1 {
    font-weight: 600;
    line-height: 1.1;
}

.jumbo-banner img{
	position:absolute;
top:-20px;
	right:2%;
}
.jumbo-banner.dark-text .hero-content h1, .jumbo-banner.dark-text .hero-content p, .jumbo-banner.dark-text .content h1, .jumbo-banner.dark-text .content p{
	color:#4d5968;
}
.hero-header .container{
	position:relative;
	z-index:2;
}