// Infinite rotation
@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

// Loading
.loading {
  animation: infinite-spinning 0.75s infinite linear;
  align-items: center;
  border-radius: 50%;
  border: 1px solid $gray;
  color: $gray;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 40px;

  .icon {
    @include font-size(2.4);
  }
}
