/* ---------------------- */
/*  Text Colors */
/* ---------------------- */
.tc--white {
  color: $white !important;

  * {
    color: $white !important;
  }
}

.tc--black {
  color: $black !important;

  * {
    color: $black !important;
  }
}

.tc--gray-light {
  color: $gray-light !important;

  * {
    color: $gray-light !important;
  }
}

.tc--gray {
  color: $gray !important;

  * {
    color: $gray !important;
  }
}

.tc--primary {
  color: $primary-color !important;

  * {
    color: $primary-color !important;
  }
}

/* ---------------------- */
/*  Text Transform */
/* ---------------------- */
.text-uppercase {
  text-transform: uppercase !important;
}

/* ---------------------- */
/*  Text sizes */
/* ---------------------- */
.fs-14px {
  font-size: 14px !important;
}
.fs-18px {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}

/* ---------------------- */
/*  Text sizes */
/* ---------------------- */
.fs-lg-14px {
  @include media-breakpoint-up(lg) {
    font-size: 14px !important;
  }
}
.fs-lg-16px {
  @include media-breakpoint-up(lg) {
    font-size: 16px !important;
  }
}
.fs-lg-18px {
  @include media-breakpoint-up(lg) {
    font-size: 18px !important;
  }
}
.fs-lg-20px {
  @include media-breakpoint-up(lg) {
    font-size: 20px !important;
  }
}
